.frame {
    position: absolute;
    cursor: default;    
    top: 0px;
    left: 0px;
    background-color: window;
}

.frameModalLayer  {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

.dialog {
    position: absolute;
    cursor: default;    
    overflow: visible;
    margin: 0px;
    padding: 1px;
    border: 2px outset;
    background-color: threedface;
}

.dialogTitle {
    padding-left: 2px;
    margin-bottom: 1px;
    height: 18px;    
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    background-color: activecaption;
    color: captiontext;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    font-weight: bold;
}

.dialogButton {
    text-align: center;
    position: absolute;
    margin: 0px;
    color: black;
    padding: 1px;    
    border: 2px outset;
    overflow: hidden;
    background-color: buttonface;    
}

.container {
    background-color: threedface;
	position: absolute;
}

.tabFolder {
	position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: transparent;    
    overflow: visible;
}

.tabFolderTabs {
    position: absolute;
    z-index: 1;
}

.tabFolderContent {
    background-color: threedface;
    position: absolute;
    border: 2px outset;
    padding: 1px;
    z-index: 0;
}

.tabSheet {
    position: absolute;
    background: buttonface;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.tabSheetTab {
    cursor: default;
    text-decoration: none;
    white-space: nowrap;
    color: windowtext;
    float: left;
    display: block;
    border: 2px outset;
    border-bottom: 0px;
    background: threedface;    
    font-family: tahoma, sans-serif;
    font-size: 8pt;
}

.tabSheetTabImage {
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    padding-left: 3px;
    overflow: hidden;
    display: none;
}

.textField {
    position: absolute;
    margin: 0px;
    border: 2px inset;
    background-color: window;
}

.textFieldEditor {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    border: 0px;
    padding: 1px;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    background-color: transparent;    
}

.textArea {
    position: absolute;
    margin: 0px;
    border: 2px inset;
    background-color: window;
}

.textAreaEditor {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    border: 0px;
    padding: 1px;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    background-color: transparent;    
}

.label {
    position: absolute;
    overflow: hidden;
    border: 0px;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    white-space: nowrap;
}

.button {
    position: absolute;
    overflow: hidden;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.buttonBorder {
    margin: 0px;
    padding: 1px;    
    border: 2px outset;
    overflow: hidden;
    background-color: buttonface;    
}

.buttonSurface {
	text-align: center;
    background-repeat: no-repeat;
    background-position: center left;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    color: windowtext;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    text-decoration: none;
    display: block;
}

.image {
    position: absolute;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;    
}

.mainMenu {
    background: threedface;
    padding: 1px;
    border-bottom: 2px groove;
    margin-bottom: 1px;
    z-index: 1;
}

.mainMenuItem {
    float: left;
}

.mainMenuButton {
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid threedface;
    background-color: threedface;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
}
            
.mainMenuContent {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 2px outset;
    background-color: threedface;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    visibility: hidden;
}          

.menuDivider {
    border: 1px solid;
    border-color: threedshadow threedface threedhighlight threedface;                
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    margin-right: 1px;
}

.menuItem {
    position: relative;                
}

.menuButton {
    position: relative;
    margin: 0px;
    padding: 2px;
    background-color: threedface;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
}

.menuButtonImage {
    border: 0px;
    margin: 0px;
    padding: 0px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}

.menuButtonArrow {
    position: absolute;
    border: 0px;
    margin: 0px;
    padding: 0px;
    right: 1px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}

.menuButtonText {
    position: absolute;
    top: 3px;
    left: 20px;
}            

.menuButtonSText {
    position: absolute;
    top: 2px;
    right: 20px;
}            

.menuContent {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 2px outset;
    background-color: threedface;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    visibility: hidden;
    top: -2px;
}

.gridBox {
    position: absolute;
    display: block;
    overflow: hidden;
    border: 2px inset;
    background-color: window;
    color: windowtext;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
}

.gridBoxHeader {
    position: absolute;
    background-color: buttonface;
}

.gridBoxColumnHeader {
    border-style: outset;
    background-color: buttonface;    
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.gridBoxBody {
    position: absolute;
    width: 100%;
    overflow: auto;
}

.gridBoxContent {

}

.gridBoxColumn {
    float: left;
    overflow: hidden;
}

.gridBoxCell {
    height: 14px;
    padding-left: 3px;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center left;
    background-color: transparent;
}

.dropDownGridBox {
    position: absolute;
    border: 2px inset;
    padding: 0px;
    margin: 0px;
    font-size: 1px;
    overflow: hidden;
    background-color: window;
}

.dropDownGridBoxTextField {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    border: 0px;
    padding: 1px;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    background-color: transparent;
}

.dropDownGridBoxButton {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;    
}

.dropDownGridBoxButtonBorder {
    position: absolute;
    right: 0px;
    background-color: buttonface;
    border-style: solid;
    border-color: black;
}

.divider {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}

.dividerLine {
    position: absolute;
    border: 1px solid;
    border-color: buttonshadow buttonhighlight buttonhighlight buttonshadow;
    line-height: 0px;
}

.checkBox {
    cursor: default;
	position: absolute;
    background-repeat: no-repeat;
    background-position: center left;
    background-color: transparent;
    text-decoration: none;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    color: windowtext;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.radioButton {
    cursor: default;
	position: absolute;
    background-repeat: no-repeat;
    background-position: center left;
    background-color: transparent;
    text-decoration: none;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    color: windowtext;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.tree {
    background-color: white;
    position: absolute;    
    border: 2px inset;
    float: left;
    overflow: auto;
    white-space: nowrap;
    display: block;
  	font-family: tahoma, sans-serif;
    font-size: 8pt;
}

.treeBranch {
    display: none;
}

.treeCell {
    vertical-align: middle;
}

.treeText {
    vertical-align: middle;
    padding: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.webBrowser {
    position: absolute;
}

.hyperlink {
    position: absolute;
    overflow: hidden;
    border: 0px;
    font-family: tahoma, sans-serif;
    font-size: 8pt;
    white-space: nowrap;
}

